<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="TMSBuyer"
     connectionString="server=127.0.0.1;user id=buyer;database=tms;password=Conestoga;SslMode=required" />
    <add name="TMSAdmin"
     connectionString="server=127.0.0.1;user id=admin;database=tms;password=Conestoga;SslMode=required" />
    <add name="TMSPlanner"
     connectionString="server=127.0.0.1;user id=planner;database=tms;password=Conestoga;SslMode=required" />
    <add name="contractmarketplace" connectionString="Server=159.89.117.198;Port = 3306; Database = cmp; Uid = DevOSHT; password = Snodgr4ss!" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>